.product-card{
	margin-right: auto;
	margin-left: auto;
	border-radius: 8px;
	width: 30%;
	height: 55%;
	background-color: #FEFFFF;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.product-card:hover{
	transform: translate3D(0,-1px,0) scale(1.03);
	filter: drop-shadow(1px 1px 10px #2B7A78);
}

.product-image{
	max-width: 80%;
	max-height: 75%;
}

.product-details{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.product-name{
	font-weight: bold;
}

.product-action-button{
	max-width: 5%;
	margin: 20px;
	margin-left: auto;
}

.product-action-button:hover{
	background-color: #3AAFA9;
	border-radius: 1rem;
}